/* This is scss variables . */

$bg-colour:#F7F8FC;
$blue-colour:#3751FF;
$sidebar-coulour:#343a40d0;




body{
    margin: 10px;
    background-color: $bg-colour;

    header{
        .nav{
            margin-bottom: 20px;
        }
        img{
            object-fit: cover;
            background-color: aqua;
            border-radius: 70%;
        }
    }

    // This is sidebar style

    .sidebar {
        width: 20%; 
        height: 100vh;
        position: fixed; 
        top: 0;
        left: 0;
        background-color: $sidebar-coulour;
        padding-top: 20px;
        overflow-y: auto;

        display: none;

        .nav-item{
            margin-bottom: 15px;
        }
        .line-item{
            height: 1px;
            background-color: #DFE0EB;
            display: block;
        }
    }


    // This is main content
    main{
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%; /* Ensure full height for vertical centering */

            .card-text{
                opacity: 0.7;
            }
        }
    }
}


@media (min-width: 992px) {
    #burgermenu{
        display: none;
    }
    
    .sidebar{
        display: block !important;
    }

    #main-container{
        margin-left: 20%;
        margin-top: 40px;
    }
}


